count:The number of non-null entries in the dataset for each variable. It excludes any missing or NaN values.

mean: it is the average value of the dataset

std:standard deviation shows the stability of the dataset

min: it is the smallest value of the dataset

25%: departs the dataset into four parts which the number of the value is the same, it is the 25% of the data falls.

50%: the middle value of the dataset when the values are arranged in order

75%: The value below which 75% of the data falls, also known as the third quartile (Q3)

max: the largest value of the dataset

In [4]:
#Provide an example of a "use case" in which using df.dropna() might be peferred over using del df['col']
import pandas as pd
data={'A':[1,2,None],'B':[4,5,None],'C':[7,8,None]}
df=pd.DataFrame(data)
df_cleaned=df.dropna()
print(df_cleaned)

     A    B    C
0  1.0  4.0  7.0
1  2.0  5.0  8.0

In [8]:
#Provide an example of "the opposite use case" in which using del df['col'] might be preferred over using df.dropna()
import pandas as pd
data={'A':[1,None,None],'B':[3,4,5],'C':[6,7,8]}
df=pd.DataFrame(data)
del df['A']
print(df)

   B  C
0  3  6
1  4  7
2  5  8



#Discuss why applying del df['col'] before df.dropna() when both are used together could be important


Delete unrelated or miscellaneous columns before data cleaning. When using df.dropna(), if a column contains irrelevant data or contains NaN values, it may unnecessarily trigger the deletion of rows. Therefore, first delete the column to ensure that it does not affect the deletion process.

In [9]:
import pandas as pd
data={'A':[1,2,None],'B':[None,None,None],'C':[7,8,9]}
df=pd.DataFrame(data)
del df['B']
df_cleaned=df.dropna()
print(df_cleaned)

     A  C
0  1.0  7
1  2.0  8

In [10]:
#Use your ChatBot session to understand what df.groupby("col1")["col2"].describe() does and then demonstrate and explain this using a different example from the "titanic" data set other than what the ChatBot automatically provide for you
import pandas as pd
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)
print(df.columns)
grouped_summary = df.groupby('sex')['age'].describe()
print(grouped_summary)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0



#Assuming you've not yet removed missing values in the manner of question "7" above, df.describe() would have different values in the count value for different data columns depending on the missingness present in the original data. Why do these capture something fundamentally different from the values in the count that result from doing something like df.groupby("col1")["col2"].describe()?


df.describe():automatically excludes missing values (i.e., NaN values) when calculating statistics like mean, standard deviation, etc.


df.describe(), this method excludes missing values when calculating statistics. However, the count here reflects how many non-null values of col2 exist for each group defined by col1.

The work of 8.3 is in this link:
https://chatgpt.com/share/5bc607e0-8793-4f1c-8d45-e025d0fd13a4



Have you reviewed the course wiki-textbook and interacted with a ChatBot (or, if that wasn't sufficient, real people in the course piazza discussion board or TA office hours) to help you understand all the material in the tutorial and lecture that you didn't quite follow when you first saw it?

Somewhat.